@font-face {
	font-family: 'monocons';
	src:url('fonts/monocons.eot');
	src:url('fonts/monocons.eot?#iefix') format('embedded-opentype'),
		url('fonts/monocons.svg#monocons') format('svg'),
		url('fonts/monocons.woff') format('woff'),
		url('fonts/monocons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'monocons';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'monocons';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-youtube:before {
	content: "\e000";
}
.icon-unlink:before {
	content: "\e001";
}
.icon-underline:before {
	content: "\e002";
}
.icon-time:before {
	content: "\e003";
}
.icon-table:before {
	content: "\e004";
}
.icon-superscript:before {
	content: "\e005";
}
.icon-subscript:before {
	content: "\e006";
}
.icon-strike:before {
	content: "\e007";
}
.icon-source:before {
	content: "\e008";
}
.icon-size:before {
	content: "\e009";
}
.icon-rtl:before {
	content: "\e00a";
}
.icon-right:before {
	content: "\e00b";
}
.icon-removeformat:before {
	content: "\e00c";
}
.icon-quote:before {
	content: "\e00d";
}
.icon-print:before {
	content: "\e00e";
}
.icon-pastetext:before {
	content: "\e00f";
}
.icon-paste:before {
	content: "\e010";
}
.icon-orderedlist:before {
	content: "\e011";
}
.icon-ltr:before {
	content: "\e012";
}
.icon-link:before {
	content: "\e013";
}
.icon-left:before {
	content: "\e014";
}
.icon-justify:before {
	content: "\e015";
}
.icon-italic:before {
	content: "\e016";
}
.icon-image:before {
	content: "\e017";
}
.icon-horizontalrule:before {
	content: "\e018";
}
.icon-grip:before {
	content: "\e019";
}
.icon-font:before {
	content: "\e01a";
}
.icon-emoticon:before {
	content: "\e01b";
}
.icon-email:before {
	content: "\e01c";
}
.icon-date:before {
	content: "\e01d";
}
.icon-cut:before {
	content: "\e01e";
}
.icon-copy:before {
	content: "\e01f";
}
.icon-color:before {
	content: "\e020";
}
.icon-code:before {
	content: "\e021";
}
.icon-center:before {
	content: "\e022";
}
.icon-bulletlist:before {
	content: "\e023";
}
.icon-bold:before {
	content: "\e024";
}
.icon-grip-rtl:before {
	content: "\e025";
}
